*{
    font-family:Roboto;
    
}
body{
    background-color: gray;
}
main{
    display: grid;
    grid-template-columns: 8%  50% 40% ;
}
nav{
    background-color: white;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;

}
nav ul li{
    list-style: none;
    margin: 15px 0;
}
.icon{
    width: 30px;
}
.logo{
    width: 50px;
}