*{
    font-family:Roboto;
    
}
body{
    background-color: gray;
}
main{
    display: grid;
    grid-template-columns: 8%  50% 40% ;
}
nav{
    background-color: white;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;

}
nav ul li{
    list-style: none;
    margin: 25px 0;
}

.svg_icon{
    fill: rgb(204, 202, 202);
    width: 30px;

}
.svg_icon:focus{
    padding: 15px;
    fill: white;
    background-color: #3E2EDF;
    outline: none;
    border-radius: 30%;
    box-shadow: 0 0 10px 2px rgba(155, 137, 221, 0.44);
}
.logo{
    width: 50px;
}